<%-include('./partials/header')%>
<h1
  style="
    text-align: center;
    margin-top: 3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
  "
>
  My First Website
</h1>

<p
  style="
    font-size: 150%;
    margin: 10px;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
  "
>
  Hi guys, Thank you for visiting my webite. This is a Movie Finder web
  application which allows you to search about any movie. As the heading
  suggests, this is my first shot at making a website from scratch.
</p>
<p
  style="
    font-size: 150%;
    text-align: center;
    color: ivory;
    font-family: Georgia, 'Times New Roman', Times, serif;
  "
>
  - Rayyan Mohiuddin
</p>

<p style="bottom: 0%; position: fixed; margin-left: 30%; color: ivory">
  If you have any suggestions, feel free to contact me here -
  <b>rayyanmohiuddin@gmail.com</b>
</p>
<%-include('./partials/footer')%>
