<%-include('./partials/header')%>
<h1 style="text-align: center">My First Website</h1>

<p style="font-size: 150%; margin: 10px; text-align: center; color: wheat">
  Hi guys, Thank you for visiting my webite. This is a Movie Finder web
  application which allows you to search about any movie. As the heading
  suggests, this is my first shot at making a website from scratch. Hopefully,
  there will be many more to come!!
</p>
<p style="font-size: 150%; text-align: center">- Rayyan Mohiuddin</p>
<%-include('./partials/footer')%>
